body {
    font-family: "Times New Roman";
    background-color: #c59480 ;
  }

  .logo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .banner {
    margin: 0 auto;
    width: 60%;
  }

  h1 {
    font-family: "Times New Roman";
    
    border-radius: 40px;
    text-align: center;
  }
  
  h2 {
    font-style: italic;
    text-align: center;
  }

  
  /* TABLE */
  
  table {
    width: 60%;
    table-layout: auto;
    margin: auto;
    margin-top: 24px;
  }

  td {
    padding: 7px;
    background-color: lightgray;
    color: black;
  }
  th {
  
    padding: 1px;
    color: black;
  }
  
  .wholeYear {
    background-color: #9C4139;
    font-size: 18px
  }
  
  /* CLASSES */
  
  
  .docs {
    text-align: center;
    font-size: 80%;
  }
  
  .month {
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
  }
  
  .year1 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 20px;
    margin-top: 20px;
    padding-bottom: 0;
  }

  .welcome {
      text-align: center;
  }

  .monthHead {
    border: none;
    font-size: 150%;
    background-color: black;
  }
  
  #year {
    color: white;
  }

  /* LINKS */

  .docs a, a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color:  black;
  }

  .docs a:hover {
     background-color: #9C4139;
  }

  .docs a:active {
    color: white;
  }
  
  